/* Write your CSS code here */
.blogItem-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 30px;
}
.post-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #12022f;
  font-size: 20px;
}
.published-date {
  color: #9aa5b1;
  font-size: 15px;
  font-weight: 500;
}
.description {
  color: #616e7c;
  font-size: 15px;
}
.separator {
  width: 100%;
  border: 1px solid #9aa5b1;
}
